<html>
	<body>
		<table align="center" border="2">
			<tr>
				<th rowspan="2"> Idno </th>
				<th rowspan="2"> Name </th>
				<th colspan="6"> Marks </th>
			</tr>		
			
			<tr>			
				<th> Subject 1 </th>
				<th> Subject 2 </th>
				<th> Subject 3 </th>
				<th> Subject 4 </th>
				<th> Subject 5 </th>
				<th> Subject 6 </th>
			</tr>


			{% for record in data %}
				<tr>
					<td> {{ record.idno }} </td>
					<td> {{ record.name }} </td>
					 
						{% for subject in record.marks %}
							{% if subject < 35 %}
								<td style="background-color:red;color:white;">
									{{ subject }} 
								</td>
							{% elif subject == 'A' %}
								<td style="background-color:yellow;color:black;">
									{{ subject }} 
								</td>
							{% else %}
								<td style="background-color:green;color:white;">
									{{ subject }} 
								</td>
							{% endif %}
						{% endfor %}
					
				</tr>
			{% endfor %}

		</table>
	</body>
</html>