{% extends 'common.html' %}
{% block content %}
    <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <table align="center" border="2" style="background-color: lightsteelblue">
    <tr>
        <th> <h2 style="padding:10px"> Registration Page </h2> </th>
    </tr>
    <tr>
        <td style="padding: 5px">
             <input
                     type="text"
                     placeholder="Name"
                     name="name"
                     required
                     class="form-control"
                     aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default">
        </td>
    </tr>
    <tr>
        <td style="padding: 5px">
             <input
                     type="number"
                     placeholder="Contact"
                     name="contact"
                     required
                     class="form-control"
                     aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default">
        </td>
    </tr>

    <tr>
        <td style="padding: 5px">
             <input
                     type="text"
                     placeholder="location"
                     name="Location"
                     required
                     class="form-control"
                     aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default">
        </td>
    </tr>

    <tr>
        <td style="padding: 5px">
             <input
                     type="email"
                     placeholder="Email(Username)"
                     name="mail"
                     required
                     class="form-control"
                     aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default">
        </td>
    </tr>
    <tr>
        <td style="padding: 5px">
             <input
                     type="password"
                     placeholder="Password"
                     name="password"
                     required
                     class="form-control"
                     aria-label="Sizing example input"
                     aria-describedby="inputGroup-sizing-default">
        </td>
    </tr>
    <tr>
        <th>
            <button type="submit"> Register </button>
        </th>
    </tr>

        {% if message %}
            <tr>
                <th>
                   <div class="alert alert-danger" role="alert">
                       {{ message }}
                   </div>
                </th>
            </tr>
        {% endif %}


    </table>
    </form>


{% endblock %}